@{
    ViewBag.Title = "Приветствие";
}

<h2>Приветствие</h2>

<div>
    Доброе утро! Как спалось?
</div>

<div>
    @Html.ActionLink("Отлично!", "VeryGood", null, new { @class = "btn btn-primary", role = "button" })
</div>
