<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<system.serviceModel>
		<services>
			<service name="Calculator.Wcf.Services.CalculatorService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8088/CalculatorService" />
					</baseAddresses>
				</host>

				<endpoint address=""
						  binding="wsHttpBinding"
						  contract="Calculator.Wcf.Services.ICalculatorService" />

				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="True" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>